

body.light {
  background-color: #f3f4f6; 
  color: black;
}

body.dark {
  background-color: #1f2937; 
  color: white;
} 


 button {
  background-color: #e5e7eb;
  color: black;
}

body.dark button {
  background-color: #374151;
  color: white;
}
